{
    "$schema": "https://zed.dev/schema/themes/v0.2.0.json",
    "name": "Human++",
    "author": "Fielding Johnston",
    "themes": [
        {
            "name": "Human++",
            "appearance": "dark",
            "style": {
                "border": "{{base02}}ff",
                "border.variant": "{{base01}}ff",
                "border.focused": "{{base0D}}ff",
                "border.selected": "{{base0D}}33",
                "border.transparent": "#00000000",
                "border.disabled": "{{base02}}ff",
                "elevated_surface.background": "{{base01}}ff",
                "surface.background": "{{base01}}ff",
                "background": "{{base01}}ff",
                "element.background": "{{base01}}ff",
                "element.hover": "{{base02}}ff",
                "element.active": "{{base02}}ff",
                "element.selected": "{{base02}}ff",
                "element.disabled": "{{base01}}ff",
                "drop_target.background": "{{base04}}80",
                "ghost_element.background": "#00000000",
                "ghost_element.hover": "{{base02}}66",
                "ghost_element.active": "{{base02}}ff",
                "ghost_element.selected": "{{base02}}ff",
                "ghost_element.disabled": "{{base01}}ff",
                "text": "{{base05}}ff",
                "text.muted": "{{base04}}ff",
                "text.placeholder": "{{base03}}ff",
                "text.disabled": "{{base03}}ff",
                "text.accent": "{{base0D}}ff",
                "icon": "{{base05}}ff",
                "icon.muted": "{{base04}}ff",
                "icon.disabled": "{{base03}}ff",
                "icon.placeholder": "{{base03}}ff",
                "icon.accent": "{{base0D}}ff",
                "status_bar.background": "{{base01}}ff",
                "title_bar.background": "{{base01}}ff",
                "title_bar.inactive_background": "{{base00}}ff",
                "toolbar.background": "{{base00}}ff",
                "tab_bar.background": "{{base01}}ff",
                "tab.inactive_background": "{{base01}}ff",
                "tab.active_background": "{{base00}}ff",
                "search.match_background": "{{base0A}}40",
                "search.active_match_background": "{{base0D}}40",
                "panel.background": "{{base01}}ff",
                "panel.focused_border": null,
                "pane.focused_border": null,
                "scrollbar.thumb.background": "{{base04}}4c",
                "scrollbar.thumb.hover_background": "{{base04}}80",
                "scrollbar.thumb.border": "{{base02}}ff",
                "scrollbar.track.background": "#00000000",
                "scrollbar.track.border": "{{base01}}ff",
                "editor.foreground": "{{base05}}ff",
                "editor.background": "{{base00}}ff",
                "editor.gutter.background": "{{base00}}ff",
                "editor.subheader.background": "{{base01}}ff",
                "editor.active_line.background": "{{base01}}bf",
                "editor.highlighted_line.background": "{{base01}}ff",
                "editor.line_number": "{{base03}}ff",
                "editor.active_line_number": "{{base07}}ff",
                "editor.hover_line_number": "{{base04}}ff",
                "editor.invisible": "{{base02}}ff",
                "editor.wrap_guide": "{{base02}}0d",
                "editor.active_wrap_guide": "{{base02}}1a",
                "editor.document_highlight.read_background": "{{base0D}}1a",
                "editor.document_highlight.write_background": "{{base02}}66",
                "terminal.background": "{{base00}}ff",
                "terminal.foreground": "{{base07}}ff",
                "terminal.bright_foreground": "{{base07}}ff",
                "terminal.dim_foreground": "{{base03}}ff",
                "terminal.ansi.black": "{{base00}}ff",
                "terminal.ansi.bright_black": "{{base03}}ff",
                "terminal.ansi.dim_black": "{{base01}}ff",
                "terminal.ansi.red": "{{base08}}ff",
                "terminal.ansi.bright_red": "{{base10}}ff",
                "terminal.ansi.dim_red": "{{base10}}99",
                "terminal.ansi.green": "{{base0B}}ff",
                "terminal.ansi.bright_green": "{{base13}}ff",
                "terminal.ansi.dim_green": "{{base13}}99",
                "terminal.ansi.yellow": "{{base0A}}ff",
                "terminal.ansi.bright_yellow": "{{base12}}ff",
                "terminal.ansi.dim_yellow": "{{base12}}99",
                "terminal.ansi.blue": "{{base0D}}ff",
                "terminal.ansi.bright_blue": "{{base15}}ff",
                "terminal.ansi.dim_blue": "{{base15}}99",
                "terminal.ansi.magenta": "{{base0E}}ff",
                "terminal.ansi.bright_magenta": "{{base16}}ff",
                "terminal.ansi.dim_magenta": "{{base16}}99",
                "terminal.ansi.cyan": "{{base0C}}ff",
                "terminal.ansi.bright_cyan": "{{base14}}ff",
                "terminal.ansi.dim_cyan": "{{base14}}99",
                "terminal.ansi.white": "{{base05}}ff",
                "terminal.ansi.bright_white": "{{base07}}ff",
                "terminal.ansi.dim_white": "{{base04}}ff",
                "link_text.hover": "{{base0D}}ff",
                "version_control.added": "{{base0B}}ff",
                "version_control.modified": "{{base0A}}ff",
                "version_control.deleted": "{{base08}}ff",
                "version_control.word_added": "{{base0B}}59",
                "version_control.word_deleted": "{{base08}}cc",
                "version_control.conflict_marker.ours": "{{base0B}}1a",
                "version_control.conflict_marker.theirs": "{{base0D}}1a",
                "conflict": "{{base0A}}ff",
                "conflict.background": "{{base0A}}1a",
                "conflict.border": "{{base09}}33",
                "created": "{{base0B}}ff",
                "created.background": "{{base0B}}1a",
                "created.border": "{{base0B}}33",
                "deleted": "{{base08}}ff",
                "deleted.background": "{{base08}}1a",
                "deleted.border": "{{base08}}33",
                "error": "{{base08}}ff",
                "error.background": "{{base08}}1a",
                "error.border": "{{base08}}33",
                "hidden": "{{base04}}ff",
                "hidden.background": "{{base04}}1a",
                "hidden.border": "{{base03}}ff",
                "hint": "{{base15}}ff",
                "hint.background": "{{base15}}1a",
                "hint.border": "{{base15}}26",
                "ignored": "{{base03}}ff",
                "ignored.background": "{{base03}}1a",
                "ignored.border": "{{base02}}ff",
                "info": "{{base0C}}ff",
                "info.background": "{{base0C}}1a",
                "info.border": "{{base0C}}26",
                "modified": "{{base0A}}ff",
                "modified.background": "{{base0A}}1a",
                "modified.border": "{{base0A}}33",
                "predictive": "{{base15}}ff",
                "predictive.background": "{{base15}}1a",
                "predictive.border": "{{base15}}1a",
                "renamed": "{{base0D}}ff",
                "renamed.background": "{{base0D}}1a",
                "renamed.border": "{{base0D}}26",
                "success": "{{base0B}}ff",
                "success.background": "{{base0B}}1a",
                "success.border": "{{base0B}}33",
                "unreachable": "{{base04}}ff",
                "unreachable.background": "{{base04}}1a",
                "unreachable.border": "{{base02}}ff",
                "warning": "{{base09}}ff",
                "warning.background": "{{base09}}1a",
                "warning.border": "{{base09}}33",
                "players": [
                    {
                        "cursor": "{{base0D}}ff",
                        "background": "{{base0D}}ff",
                        "selection": "{{base0D}}3d"
                    },
                    {
                        "cursor": "{{base08}}ff",
                        "background": "{{base08}}ff",
                        "selection": "{{base08}}3d"
                    },
                    {
                        "cursor": "{{base09}}ff",
                        "background": "{{base09}}ff",
                        "selection": "{{base09}}3d"
                    },
                    {
                        "cursor": "{{base0E}}ff",
                        "background": "{{base0E}}ff",
                        "selection": "{{base0E}}3d"
                    },
                    {
                        "cursor": "{{base0C}}ff",
                        "background": "{{base0C}}ff",
                        "selection": "{{base0C}}3d"
                    },
                    {
                        "cursor": "{{base0B}}ff",
                        "background": "{{base0B}}ff",
                        "selection": "{{base0B}}3d"
                    },
                    {
                        "cursor": "{{base0A}}ff",
                        "background": "{{base0A}}ff",
                        "selection": "{{base0A}}3d"
                    },
                    {
                        "cursor": "{{base0F}}ff",
                        "background": "{{base0F}}ff",
                        "selection": "{{base0F}}3d"
                    }
                ],
                "syntax": {
                    "attribute": {
                        "color": "{{base14}}ff",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "boolean": {
                        "color": "{{base12}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "comment": {
                        "color": "{{base03}}ff",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "comment.doc": {
                        "color": "{{base03}}ff",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "constant": {
                        "color": "{{base12}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "constructor": {
                        "color": "{{base15}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "embedded": {
                        "color": "{{base05}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "emphasis": {
                        "color": "{{base15}}ff",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "emphasis.strong": {
                        "color": "{{base0D}}ff",
                        "font_style": null,
                        "font_weight": 700
                    },
                    "enum": {
                        "color": "{{base14}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "function": {
                        "color": "{{base15}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "hint": {
                        "color": "{{base04}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "keyword": {
                        "color": "{{base10}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "label": {
                        "color": "{{base16}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "link_text": {
                        "color": "{{base17}}ff",
                        "font_style": "normal",
                        "font_weight": null
                    },
                    "link_uri": {
                        "color": "{{base03}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "namespace": {
                        "color": "{{base14}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "number": {
                        "color": "{{base12}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "operator": {
                        "color": "{{base04}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "predictive": {
                        "color": "{{base03}}ff",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "preproc": {
                        "color": "{{base10}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "primary": {
                        "color": "{{base05}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "property": {
                        "color": "{{base05}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation": {
                        "color": "{{base04}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation.bracket": {
                        "color": "{{base04}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation.delimiter": {
                        "color": "{{base04}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation.list_marker": {
                        "color": "{{base04}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation.markup": {
                        "color": "{{base04}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "punctuation.special": {
                        "color": "{{base10}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "selector": {
                        "color": "{{base13}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "selector.pseudo": {
                        "color": "{{base14}}ff",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "string": {
                        "color": "{{base17}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "string.escape": {
                        "color": "{{base12}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "string.regex": {
                        "color": "{{base17}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "string.special": {
                        "color": "{{base11}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "string.special.symbol": {
                        "color": "{{base11}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "tag": {
                        "color": "{{base10}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "text.literal": {
                        "color": "{{base0A}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "title": {
                        "color": "{{base08}}ff",
                        "font_style": null,
                        "font_weight": 700
                    },
                    "type": {
                        "color": "{{base14}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "variable": {
                        "color": "{{base05}}ff",
                        "font_style": null,
                        "font_weight": null
                    },
                    "variable.special": {
                        "color": "{{base16}}ff",
                        "font_style": "italic",
                        "font_weight": null
                    },
                    "variant": {
                        "color": "{{base14}}ff",
                        "font_style": null,
                        "font_weight": null
                    }
                }
            }
        }
    ]
}
