{
    "name": "Human++",
    "type": "dark",
    "author": "Fielding Johnston",
    "colorSpaceName": "sRGB",
    "colors": {
        "activityBar.activeFocusBorder": "{{base0D}}",
        "activityBar.background": "{{base00}}",
        "activityBar.border": "{{base00}}",
        "activityBar.foreground": "{{base07}}",
        "activityBar.inactiveForeground": "{{base04}}",
        "activityBarBadge.background": "{{base0D}}",
        "activityBarBadge.foreground": "{{base00}}",
        "activityBarTop.background": "{{base01}}",
        "activityBarTop.foreground": "{{base07}}",
        "activityBarTop.inactiveForeground": "{{base04}}",
        "badge.background": "{{base0D}}",
        "badge.foreground": "{{base00}}",
        "banner.background": "{{base01}}",
        "banner.foreground": "{{base07}}",
        "banner.iconForeground": "{{base07}}",
        "breadcrumb.activeSelectionForeground": "{{base07}}",
        "breadcrumb.focusForeground": "{{base07}}",
        "breadcrumb.foreground": "{{base04}}",
        "breadcrumbPicker.background": "{{base02}}",
        "button.background": "{{base02}}",
        "button.foreground": "{{base07}}",
        "button.hoverBackground": "{{base01}}",
        "button.secondaryBackground": "{{base02}}",
        "button.secondaryForeground": "{{base05}}",
        "button.secondaryHoverBackground": "{{base01}}",
        "button.separator": "{{base02}}",
        "charts.blue": "{{base0C}}",
        "charts.foreground": "{{base07}}",
        "charts.green": "{{base0B}}",
        "charts.lines": "{{base03}}",
        "charts.orange": "{{base09}}",
        "charts.purple": "{{base0E}}",
        "charts.red": "{{base08}}",
        "charts.yellow": "{{base0A}}",
        "chat.avatarBackground": "{{base02}}",
        "chat.avatarForeground": "{{base0E}}",
        "chat.requestBackground": "{{base01}}",
        "chat.requestBorder": "{{base02}}",
        "chat.slashCommandBackground": "#00000000",
        "chat.slashCommandForeground": "{{base0A}}",
        "checkbox.background": "{{base02}}",
        "checkbox.border": "{{base02}}",
        "checkbox.foreground": "{{base0A}}",
        "commandCenter.activeBackground": "{{base02}}",
        "commandCenter.activeForeground": "{{base07}}",
        "commandCenter.background": "{{base01}}",
        "commandCenter.border": "{{base02}}",
        "commandCenter.debuggingBackground": "{{base01}}",
        "commandCenter.foreground": "{{base04}}",
        "debugConsole.errorForeground": "{{base08}}",
        "debugConsole.infoForeground": "{{base0C}}",
        "debugConsole.sourceForeground": "{{base07}}",
        "debugConsole.warningForeground": "{{base09}}",
        "debugConsoleInputIcon.foreground": "{{base0A}}",
        "debugExceptionWidget.background": "{{base01}}",
        "debugExceptionWidget.border": "{{base01}}",
        "debugIcon.breakpointCurrentStackframeForeground": "{{base0A}}",
        "debugIcon.breakpointDisabledForeground": "{{base05}}",
        "debugIcon.breakpointForeground": "{{base08}}",
        "debugIcon.breakpointStackframeForeground": "{{base07}}",
        "debugIcon.breakpointUnverifiedForeground": "{{base09}}",
        "debugIcon.continueForeground": "{{base07}}",
        "debugIcon.disconnectForeground": "{{base07}}",
        "debugIcon.pauseForeground": "{{base07}}",
        "debugIcon.restartForeground": "{{base0B}}",
        "debugIcon.startForeground": "{{base0B}}",
        "debugIcon.stepBackForeground": "{{base07}}",
        "debugIcon.stepIntoForeground": "{{base07}}",
        "debugIcon.stepOutForeground": "{{base07}}",
        "debugIcon.stepOverForeground": "{{base07}}",
        "debugIcon.stopForeground": "{{base08}}",
        "debugTokenExpression.boolean": "{{base09}}",
        "debugTokenExpression.error": "{{base08}}",
        "debugTokenExpression.name": "{{base0C}}",
        "debugTokenExpression.number": "{{base0E}}",
        "debugTokenExpression.string": "{{base0A}}",
        "debugTokenExpression.value": "{{base07}}",
        "debugToolBar.background": "{{base01}}",
        "debugView.exceptionLabelBackground": "{{base08}}",
        "debugView.exceptionLabelForeground": "{{base02}}",
        "debugView.stateLabelBackground": "{{base0B}}",
        "debugView.stateLabelForeground": "{{base02}}",
        "debugView.valueChangedHighlight": "{{base0A}}",
        "descriptionForeground": "{{base04}}",
        "diffEditor.diagonalFill": "{{base01}}",
        "diffEditor.insertedLineBackground": "{{base0B}}19",
        "diffEditor.insertedTextBackground": "{{base0B}}19",
        "diffEditor.move.border": "",
        "diffEditor.moveActive.border": "",
        "diffEditor.removedLineBackground": "{{base08}}19",
        "diffEditor.removedTextBackground": "{{base08}}19",
        "diffEditor.unchangedCodeBackground": "{{base01}}",
        "diffEditor.unchangedRegionBackground": "{{base01}}",
        "diffEditor.unchangedRegionForeground": "{{base05}}",
        "diffEditor.unchangedRegionShadow": "{{base00}}",
        "diffEditorGutter.insertedLineBackground": "{{base0B}}19",
        "diffEditorGutter.removedLineBackground": "{{base08}}19",
        "diffEditorOverview.insertedForeground": "{{base0B}}a5",
        "diffEditorOverview.removedForeground": "{{base08}}a5",
        "disabledForeground": "{{base07}}26",
        "dropdown.background": "{{base01}}",
        "dropdown.border": "{{base02}}",
        "dropdown.foreground": "{{base04}}",
        "dropdown.listBackground": "{{base01}}",
        "editor.background": "{{base00}}",
        "editor.findMatchBackground": "{{base07}}26",
        "editor.findMatchBorder": "{{base0D}}",
        "editor.findMatchHighlightBackground": "{{base07}}26",
        "editor.findMatchHighlightBorder": "#00000000",
        "editor.findRangeHighlightBackground": "{{base07}}0c",
        "editor.findRangeHighlightBorder": "#00000000",
        "editor.focusedStackFrameHighlightBackground": "{{base05}}26",
        "editor.foldBackground": "{{base07}}0c",
        "editor.foreground": "{{base07}}",
        "editor.hoverHighlightBackground": "{{base07}}0c",
        "editor.inactiveSelectionBackground": "{{base07}}0c",
        "editor.inlineValuesBackground": "{{base02}}",
        "editor.inlineValuesForeground": "{{base07}}",
        "editor.lineHighlightBackground": "{{base07}}0c",
        "editor.lineHighlightBorder": "#00000000",
        "editor.linkedEditingBackground": "{{base01}}",
        "editor.rangeHighlightBackground": "{{base01}}",
        "editor.rangeHighlightBorder": "{{base01}}",
        "editor.selectionBackground": "{{base02}}",
        "editor.selectionHighlightBackground": "{{base07}}26",
        "editor.selectionHighlightBorder": "#00000000",
        "editor.stackFrameHighlightBackground": "{{base05}}26",
        "editor.wordHighlightBackground": "{{base07}}26",
        "editor.wordHighlightBorder": "#00000000",
        "editor.wordHighlightStrongBackground": "{{base07}}26",
        "editor.wordHighlightStrongBorder": "#00000000",
        "editorBracketHighlight.foreground1": "{{base04}}",
        "editorBracketHighlight.foreground2": "{{base03}}",
        "editorBracketHighlight.foreground3": "{{base04}}",
        "editorBracketHighlight.foreground4": "{{base03}}",
        "editorBracketHighlight.foreground5": "{{base04}}",
        "editorBracketHighlight.foreground6": "{{base03}}",
        "editorBracketMatch.background": "{{base02}}",
        "editorBracketMatch.border": "{{base03}}",
        "editorCodeLens.foreground": "{{base03}}",
        "editorCursor.background": "{{base02}}",
        "editorCursor.foreground": "{{base07}}",
        "editorError.background": "{{base08}}40",
        "editorError.border": "#00000000",
        "editorError.foreground": "{{base08}}",
        "editorGhostText.foreground": "{{base03}}",
        "editorGroup.border": "{{base01}}",
        "editorGroup.dropBackground": "{{base01}}bf",
        "editorGroup.emptyBackground": "{{base00}}",
        "editorGroup.focusedEmptyBorder": "{{base01}}",
        "editorGroupHeader.noTabsBackground": "{{base01}}",
        "editorGroupHeader.tabsBackground": "{{base01}}",
        "editorGroupHeader.tabsBorder": "{{base01}}",
        "editorGutter.addedBackground": "{{base0B}}",
        "editorGutter.background": "{{base00}}",
        "editorGutter.deletedBackground": "{{base08}}",
        "editorGutter.foldingControlForeground": "{{base05}}",
        "editorGutter.modifiedBackground": "{{base09}}",
        "editorHint.border": "{{base02}}",
        "editorHint.foreground": "{{base15}}",
        "editorHoverWidget.background": "{{base01}}",
        "editorHoverWidget.border": "{{base02}}",
        "editorIndentGuide.background": "{{base01}}",
        "editorInfo.background": "#00000000",
        "editorInfo.border": "{{base02}}",
        "editorInfo.foreground": "{{base0C}}",
        "editorInlayHint.background": "{{base01}}",
        "editorInlayHint.foreground": "{{base04}}",
        "editorLightBulb.foreground": "{{base0A}}",
        "editorLightBulbAi.foreground": "{{base0A}}",
        "editorLightBulbAutoFix.foreground": "{{base0B}}",
        "editorLineNumber.activeForeground": "{{base05}}",
        "editorLineNumber.foreground": "{{base04}}",
        "editorLink.activeForeground": "{{base0C}}",
        "editorMarkerNavigation.background": "{{base01}}",
        "editorMarkerNavigationError.background": "{{base08}}",
        "editorMarkerNavigationInfo.background": "{{base0C}}",
        "editorMarkerNavigationWarning.background": "{{base09}}",
        "editorOverviewRuler.addedForeground": "{{base0B}}",
        "editorOverviewRuler.border": "{{base02}}",
        "editorOverviewRuler.currentContentForeground": "{{base01}}",
        "editorOverviewRuler.deletedForeground": "{{base08}}",
        "editorOverviewRuler.errorForeground": "{{base08}}",
        "editorOverviewRuler.findMatchForeground": "{{base07}}26",
        "editorOverviewRuler.incomingContentForeground": "{{base01}}",
        "editorOverviewRuler.infoForeground": "{{base0C}}",
        "editorOverviewRuler.modifiedForeground": "{{base09}}",
        "editorOverviewRuler.rangeHighlightForeground": "{{base07}}26",
        "editorOverviewRuler.selectionHighlightForeground": "{{base07}}26",
        "editorOverviewRuler.warningForeground": "{{base09}}",
        "editorOverviewRuler.wordHighlightForeground": "{{base07}}26",
        "editorOverviewRuler.wordHighlightStrongForeground": "{{base07}}26",
        "editorPane.background": "{{base00}}",
        "editorRuler.foreground": "{{base01}}",
        "editorStickyScroll.background": "{{base00}}",
        "editorStickyScroll.border": "{{base01}}",
        "editorStickyScroll.shadow": "{{base00}}",
        "editorStickyScrollHover.background": "{{base07}}0c",
        "editorSuggestWidget.background": "{{base01}}",
        "editorSuggestWidget.border": "{{base02}}",
        "editorSuggestWidget.foreground": "{{base07}}",
        "editorSuggestWidget.highlightForeground": "{{base07}}",
        "editorSuggestWidget.selectedBackground": "{{base02}}",
        "editorUnnecessaryCode.opacity": "#000000a5",
        "editorWarning.background": "{{base09}}40",
        "editorWarning.border": "#00000000",
        "editorWarning.foreground": "{{base09}}",
        "editorWhitespace.foreground": "{{base01}}",
        "editorWidget.background": "{{base01}}",
        "editorWidget.border": "{{base02}}",
        "errorForeground": "{{base08}}",
        "extensionBadge.remoteBackground": "{{base0B}}",
        "extensionBadge.remoteForeground": "{{base07}}",
        "extensionButton.background": "{{base01}}",
        "extensionButton.foreground": "{{base05}}",
        "extensionButton.hoverBackground": "{{base01}}",
        "extensionButton.prominentBackground": "{{base01}}",
        "extensionButton.prominentForeground": "{{base07}}",
        "extensionButton.prominentHoverBackground": "{{base01}}",
        "extensionIcon.preReleaseForeground": "{{base0E}}",
        "extensionIcon.sponsorForeground": "{{base0C}}",
        "extensionIcon.starForeground": "{{base0A}}",
        "extensionIcon.verifiedForeground": "{{base0B}}",
        "focusBorder": "{{base0D}}",
        "foreground": "{{base07}}",
        "gitDecoration.addedResourceForeground": "{{base0B}}",
        "gitDecoration.conflictingResourceForeground": "{{base08}}",
        "gitDecoration.deletedResourceForeground": "{{base08}}",
        "gitDecoration.ignoredResourceForeground": "{{base03}}",
        "gitDecoration.modifiedResourceForeground": "{{base0A}}",
        "gitDecoration.stageDeletedResourceForeground": "{{base08}}",
        "gitDecoration.stageModifiedResourceForeground": "{{base0A}}",
        "gitDecoration.untrackedResourceForeground": "{{base05}}",
        "icon.foreground": "{{base04}}",
        "inlineChat.background": "{{base02}}",
        "inlineChat.border": "{{base01}}",
        "inlineChat.shadow": "{{base00}}",
        "inlineChatDiff.inserted": "{{base0B}}19",
        "inlineChatDiff.removed": "{{base0B}}19",
        "input.background": "{{base01}}",
        "input.border": "{{base02}}",
        "input.foreground": "{{base07}}",
        "input.placeholderForeground": "{{base03}}",
        "inputOption.activeBackground": "{{base02}}",
        "inputOption.activeBorder": "{{base02}}",
        "inputOption.activeForeground": "{{base07}}",
        "inputOption.hoverBackground": "{{base02}}",
        "inputValidation.errorBackground": "{{base01}}",
        "inputValidation.errorBorder": "{{base08}}",
        "inputValidation.errorForeground": "{{base08}}",
        "inputValidation.infoBackground": "{{base01}}",
        "inputValidation.infoBorder": "{{base0C}}",
        "inputValidation.infoForeground": "{{base0C}}",
        "inputValidation.warningBackground": "{{base01}}",
        "inputValidation.warningBorder": "{{base09}}",
        "inputValidation.warningForeground": "{{base09}}",
        "interactive.activeCodeBorder": "{{base03}}",
        "interactive.inactiveCodeBorder": "{{base01}}",
        "keybindingLabel.background": "{{base02}}",
        "keybindingLabel.border": "{{base02}}",
        "keybindingLabel.bottomBorder": "{{base02}}",
        "keybindingLabel.foreground": "{{base05}}",
        "list.activeSelectionBackground": "{{base02}}",
        "list.activeSelectionForeground": "{{base07}}",
        "list.dropBackground": "{{base00}}bf",
        "list.errorForeground": "{{base08}}",
        "list.focusBackground": "{{base02}}",
        "list.focusForeground": "{{base07}}",
        "list.highlightForeground": "{{base07}}",
        "list.hoverBackground": "{{base07}}0c",
        "list.hoverForeground": "{{base07}}",
        "list.inactiveFocusBackground": "{{base02}}",
        "list.inactiveSelectionBackground": "{{base02}}",
        "list.inactiveSelectionForeground": "{{base05}}",
        "list.invalidItemForeground": "{{base08}}",
        "list.warningForeground": "{{base0A}}",
        "listFilterWidget.background": "{{base02}}",
        "listFilterWidget.noMatchesOutline": "{{base08}}",
        "listFilterWidget.outline": "{{base02}}",
        "listFilterWidget.shadow": "{{base00}}",
        "menu.background": "{{base01}}",
        "menu.border": "{{base01}}",
        "menu.foreground": "{{base07}}",
        "menu.selectionForeground": "{{base0A}}",
        "menu.separatorBackground": "{{base01}}",
        "menubar.selectionForeground": "{{base05}}",
        "merge.border": "{{base02}}",
        "merge.commonContentBackground": "{{base07}}19",
        "merge.commonHeaderBackground": "{{base07}}26",
        "merge.currentContentBackground": "{{base08}}19",
        "merge.currentHeaderBackground": "{{base08}}26",
        "merge.incomingContentBackground": "{{base0B}}19",
        "merge.incomingHeaderBackground": "{{base0B}}26",
        "mergeEditor.change.background": "{{base07}}19",
        "mergeEditor.change.word.background": "{{base07}}19",
        "mergeEditor.conflict.handled.minimapOverViewRuler": "{{base0B}}",
        "mergeEditor.conflict.handledFocused.border": "{{base0B}}",
        "mergeEditor.conflict.handledUnfocused.border": "{{base0B}}",
        "mergeEditor.conflict.unhandled.minimapOverViewRuler": "{{base08}}",
        "mergeEditor.conflict.unhandledFocused.border": "{{base08}}",
        "mergeEditor.conflict.unhandledUnfocused.border": "{{base08}}",
        "minimap.errorHighlight": "{{base08}}a5",
        "minimap.findMatchHighlight": "{{base04}}a5",
        "minimap.infoHighlight": "{{base0C}}a5",
        "minimap.selectionHighlight": "{{base05}}26",
        "minimap.selectionOccurrenceHighlight": "{{base03}}a5",
        "minimap.warningHighlight": "{{base09}}a5",
        "minimapGutter.addedBackground": "{{base0B}}",
        "minimapGutter.deletedBackground": "{{base08}}",
        "minimapGutter.modifiedBackground": "{{base0A}}",
        "notebook.cellBorderColor": "{{base01}}",
        "notebook.cellEditorBackground": "{{base01}}7f",
        "notebook.cellInsertionIndicator": "{{base07}}",
        "notebook.cellStatusBarItemHoverBackground": "{{base03}}",
        "notebook.cellToolbarSeparator": "{{base01}}",
        "notebook.editorBackground": "{{base02}}",
        "notebook.focusedEditorBorder": "{{base0D}}",
        "notebookStatusErrorIcon.foreground": "{{base08}}",
        "notebookStatusRunningIcon.foreground": "{{base07}}",
        "notebookStatusSuccessIcon.foreground": "{{base0B}}",
        "notificationCenter.border": "{{base01}}",
        "notificationCenterHeader.background": "{{base01}}",
        "notificationCenterHeader.foreground": "{{base04}}",
        "notificationLink.foreground": "{{base0D}}",
        "notifications.background": "{{base01}}",
        "notifications.border": "{{base01}}",
        "notifications.foreground": "{{base07}}",
        "notificationsErrorIcon.foreground": "{{base08}}",
        "notificationsInfoIcon.foreground": "{{base0C}}",
        "notificationsWarningIcon.foreground": "{{base09}}",
        "notificationToast.border": "{{base01}}",
        "panel.background": "{{base01}}",
        "panel.border": "{{base00}}",
        "panel.dropBackground": "{{base01}}bf",
        "panelStickyScroll.background": "{{base01}}",
        "panelStickyScroll.border": "{{base02}}",
        "panelStickyScroll.shadow": "{{base01}}",
        "panelTitle.activeBorder": "{{base0D}}",
        "panelTitle.activeForeground": "{{base07}}",
        "panelTitle.inactiveForeground": "{{base04}}",
        "peekView.border": "{{base01}}",
        "peekViewEditor.background": "{{base01}}",
        "peekViewEditor.matchHighlightBackground": "{{base02}}",
        "peekViewEditorGutter.background": "{{base01}}",
        "peekViewResult.background": "{{base01}}",
        "peekViewResult.fileForeground": "{{base04}}",
        "peekViewResult.lineForeground": "{{base04}}",
        "peekViewResult.matchHighlightBackground": "{{base02}}",
        "peekViewResult.selectionBackground": "{{base01}}",
        "peekViewResult.selectionForeground": "{{base07}}",
        "peekViewTitle.background": "{{base01}}",
        "peekViewTitleDescription.foreground": "{{base04}}",
        "peekViewTitleLabel.foreground": "{{base07}}",
        "pickerGroup.border": "{{base02}}",
        "pickerGroup.foreground": "{{base04}}",
        "ports.iconRunningProcessForeground": "{{base0B}}",
        "problemsErrorIcon.foreground": "{{base08}}",
        "problemsInfoIcon.foreground": "{{base0C}}",
        "problemsWarningIcon.foreground": "{{base09}}",
        "profileBadge.background": "{{base01}}",
        "profileBadge.foreground": "{{base05}}",
        "progressBar.background": "{{base03}}",
        "quickInput.background": "{{base01}}",
        "quickInput.foreground": "{{base04}}",
        "sash.hoverBorder": "{{base03}}",
        "scmGraph.historyItemHoverLabelForeground": "{{base02}}",
        "scmGraph.foreground1": "{{base08}}",
        "scmGraph.foreground2": "{{base09}}",
        "scmGraph.foreground3": "{{base0A}}",
        "scmGraph.foreground4": "{{base0B}}",
        "scmGraph.foreground5": "{{base0E}}",
        "scmGraph.historyItemHoverAdditionsForeground": "{{base0B}}",
        "scmGraph.historyItemHoverDeletionsForeground": "{{base08}}",
        "scmGraph.historyItemRefColor": "{{base0E}}",
        "scmGraph.historyItemRemoteRefColor": "{{base0B}}",
        "scmGraph.historyItemBaseRefColor": "{{base0C}}",
        "scmGraph.historyItemHoverDefaultLabelForeground": "{{base02}}",
        "scmGraph.historyItemHoverDefaultLabelBackground": "{{base03}}",
        "scrollbar.shadow": "{{base02}}",
        "scrollbarSlider.activeBackground": "{{base07}}59",
        "scrollbarSlider.background": "{{base05}}26",
        "scrollbarSlider.hoverBackground": "{{base07}}26",
        "selection.background": "{{base02}}",
        "settings.checkboxBackground": "{{base01}}",
        "settings.checkboxBorder": "{{base02}}",
        "settings.checkboxForeground": "{{base0A}}",
        "settings.dropdownBackground": "{{base01}}",
        "settings.dropdownBorder": "{{base02}}",
        "settings.dropdownForeground": "{{base07}}",
        "settings.dropdownListBorder": "{{base04}}",
        "settings.headerForeground": "{{base0A}}",
        "settings.modifiedItemForeground": "{{base0A}}",
        "settings.modifiedItemIndicator": "{{base0A}}",
        "settings.numberInputBackground": "{{base01}}",
        "settings.numberInputBorder": "{{base02}}",
        "settings.numberInputForeground": "{{base07}}",
        "settings.rowHoverBackground": "{{base03}}0c",
        "settings.sashBorder": "{{base01}}",
        "settings.settingsHeaderHoverForeground": "{{base07}}",
        "settings.textInputBackground": "{{base01}}",
        "settings.textInputBorder": "{{base02}}",
        "settings.textInputForeground": "{{base07}}",
        "sideBar.background": "{{base01}}",
        "sideBar.border": "{{base00}}",
        "sideBar.dropBackground": "{{base01}}bf",
        "sideBar.foreground": "{{base07}}",
        "sideBarSectionHeader.background": "{{base01}}",
        "sideBarSectionHeader.foreground": "{{base04}}",
        "sideBarStickyScroll.background": "{{base01}}",
        "sideBarStickyScroll.border": "{{base01}}",
        "sideBarStickyScroll.shadow": "{{base01}}",
        "sideBarTitle.foreground": "{{base04}}",
        "simpleFindWidget.sashBorder": "",
        "statusBar.background": "{{base01}}",
        "statusBar.border": "{{base00}}",
        "statusBar.debuggingBackground": "{{base03}}",
        "statusBar.debuggingBorder": "{{base01}}",
        "statusBar.debuggingForeground": "{{base07}}",
        "statusBar.focusBorder": "{{base01}}",
        "statusBar.foreground": "{{base04}}",
        "statusBar.noFolderBackground": "{{base01}}",
        "statusBar.noFolderBorder": "{{base00}}",
        "statusBar.noFolderForeground": "{{base03}}",
        "statusBarItem.activeBackground": "{{base02}}",
        "statusBarItem.errorBackground": "{{base02}}",
        "statusBarItem.errorForeground": "{{base08}}",
        "statusBarItem.focusBorder": "{{base03}}",
        "statusBarItem.hoverBackground": "{{base01}}",
        "statusBarItem.hoverForeground": "{{base07}}",
        "statusBarItem.prominentBackground": "{{base01}}",
        "statusBarItem.offlineBackground": "",
        "statusBarItem.offlineForeground": "",
        "statusBarItem.prominentHoverBackground": "{{base01}}",
        "statusBarItem.remoteBackground": "{{base01}}",
        "statusBarItem.remoteForeground": "{{base0B}}",
        "statusBarItem.remoteHoverBackground": "{{base0B}}",
        "statusBarItem.remoteHoverForeground": "{{base02}}",
        "statusBarItem.warningBackground": "{{base02}}",
        "statusBarItem.warningForeground": "{{base09}}",
        "symbolIcon.arrayForeground": "{{base08}}",
        "symbolIcon.booleanForeground": "{{base08}}",
        "symbolIcon.classForeground": "{{base0C}}",
        "symbolIcon.colorForeground": "{{base0E}}",
        "symbolIcon.constantForeground": "{{base0E}}",
        "symbolIcon.constructorForeground": "{{base0B}}",
        "symbolIcon.enumeratorForeground": "{{base09}}",
        "symbolIcon.enumeratorMemberForeground": "{{base09}}",
        "symbolIcon.eventForeground": "{{base09}}",
        "symbolIcon.fieldForeground": "{{base09}}",
        "symbolIcon.fileForeground": "{{base05}}",
        "symbolIcon.folderForeground": "{{base05}}",
        "symbolIcon.functionForeground": "{{base0B}}",
        "symbolIcon.interfaceForeground": "{{base0C}}",
        "symbolIcon.keyForeground": "{{base09}}",
        "symbolIcon.keywordForeground": "{{base08}}",
        "symbolIcon.methodForeground": "{{base0B}}",
        "symbolIcon.moduleForeground": "{{base0C}}",
        "symbolIcon.namespaceForeground": "{{base0C}}",
        "symbolIcon.nullForeground": "{{base0E}}",
        "symbolIcon.numberForeground": "{{base0E}}",
        "symbolIcon.objectForeground": "{{base0C}}",
        "symbolIcon.operatorForeground": "{{base08}}",
        "symbolIcon.packageForeground": "{{base0E}}",
        "symbolIcon.propertyForeground": "{{base09}}",
        "symbolIcon.referenceForeground": "{{base0E}}",
        "symbolIcon.snippetForeground": "{{base0B}}",
        "symbolIcon.stringForeground": "{{base0A}}",
        "symbolIcon.structForeground": "{{base08}}",
        "symbolIcon.textForeground": "{{base0A}}",
        "symbolIcon.typeParameterForeground": "{{base09}}",
        "symbolIcon.unitForeground": "{{base0E}}",
        "symbolIcon.variableForeground": "{{base0C}}",
        "tab.activeBackground": "{{base00}}",
        "tab.activeBorder": "{{base0D}}",
        "tab.activeForeground": "{{base07}}",
        "tab.activeModifiedBorder": "{{base02}}",
        "tab.border": "{{base01}}",
        "tab.hoverBackground": "{{base02}}",
        "tab.hoverBorder": "{{base02}}",
        "tab.hoverForeground": "{{base07}}",
        "tab.inactiveBackground": "{{base01}}",
        "tab.inactiveForeground": "{{base04}}",
        "tab.inactiveModifiedBorder": "{{base02}}",
        "tab.lastPinnedBorder": "{{base02}}",
        "tab.unfocusedActiveBorder": "{{base04}}",
        "tab.unfocusedActiveForeground": "{{base05}}",
        "tab.unfocusedActiveModifiedBorder": "{{base01}}",
        "tab.unfocusedHoverBackground": "{{base02}}",
        "tab.unfocusedHoverBorder": "{{base02}}",
        "tab.unfocusedHoverForeground": "{{base05}}",
        "tab.unfocusedInactiveForeground": "{{base04}}",
        "tab.unfocusedInactiveModifiedBorder": "{{base01}}",
        "terminal.ansiBlack": "{{base00}}",
        "terminal.ansiRed": "{{base08}}",
        "terminal.ansiGreen": "{{base0B}}",
        "terminal.ansiYellow": "{{base0A}}",
        "terminal.ansiBlue": "{{base0D}}",
        "terminal.ansiMagenta": "{{base0E}}",
        "terminal.ansiCyan": "{{base0C}}",
        "terminal.ansiWhite": "{{base07}}",
        "terminal.ansiBrightBlack": "{{base03}}",
        "terminal.ansiBrightRed": "{{base10}}",
        "terminal.ansiBrightGreen": "{{base13}}",
        "terminal.ansiBrightYellow": "{{base12}}",
        "terminal.ansiBrightBlue": "{{base15}}",
        "terminal.ansiBrightMagenta": "{{base16}}",
        "terminal.ansiBrightCyan": "{{base14}}",
        "terminal.ansiBrightWhite": "{{base07}}",
        "terminal.background": "{{base00}}",
        "terminal.foreground": "{{base07}}",
        "terminal.selectionBackground": "{{base07}}26",
        "terminalCommandDecoration.defaultBackground": "{{base07}}",
        "terminalCommandDecoration.errorBackground": "{{base08}}",
        "terminalCommandDecoration.successBackground": "{{base0B}}",
        "terminalCursor.background": "#00000000",
        "terminalCursor.foreground": "{{base07}}",
        "testing.iconErrored": "{{base08}}",
        "testing.iconFailed": "{{base08}}",
        "testing.iconPassed": "{{base0B}}",
        "testing.iconQueued": "{{base07}}",
        "testing.iconSkipped": "{{base09}}",
        "testing.iconUnset": "{{base04}}",
        "testing.message.error.decorationForeground": "{{base08}}",
        "testing.message.error.lineBackground": "{{base08}}19",
        "testing.message.info.decorationForeground": "{{base07}}",
        "testing.message.info.lineBackground": "{{base07}}19",
        "testing.runAction": "{{base0A}}",
        "textBlockQuote.background": "{{base01}}",
        "textBlockQuote.border": "{{base01}}",
        "textCodeBlock.background": "{{base01}}",
        "textLink.activeForeground": "{{base07}}",
        "textLink.foreground": "{{base0D}}",
        "textPreformat.foreground": "{{base07}}",
        "textSeparator.foreground": "{{base03}}",
        "titleBar.activeBackground": "{{base01}}",
        "titleBar.activeForeground": "{{base04}}",
        "titleBar.border": "{{base00}}",
        "titleBar.inactiveBackground": "{{base01}}",
        "titleBar.inactiveForeground": "{{base04}}",
        "tree.inactiveIndentGuidesStroke": "{{base02}}",
        "tree.indentGuidesStroke": "{{base01}}",
        "walkThrough.embeddedEditorBackground": "{{base01}}",
        "welcomePage.buttonBackground": "{{base01}}",
        "welcomePage.buttonHoverBackground": "{{base01}}",
        "welcomePage.progress.background": "{{base03}}",
        "welcomePage.progress.foreground": "{{base04}}",
        "welcomePage.tileBackground": "{{base01}}",
        "welcomePage.tileHoverBackground": "{{base01}}",
        "welcomePage.tileShadow": "{{base00}}",
        "widget.shadow": "{{base00}}"
    },
    "tokenColors": [
        {
            "scope": [
                "comment",
                "comment keyword",
                "comment markup.underline.link",
                "comment string",
                "comment punctuation.definition",
                "comment punctuation",
                "comment text"
            ],
            "settings": {
                "name": "Comments and overrides inside comments",
                "fontStyle": "italic",
                "foreground": "{{base03}}"
            }
        },
        {
            "scope": "comment storage.type",
            "settings": {
                "name": "JSDoc storage type",
                "foreground": "{{base03}}"
            }
        },
        {
            "scope": "comment entity.name.type",
            "settings": {
                "name": "JSDoc entity name",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "comment variable",
                "comment variable.other"
            ],
            "settings": {
                "name": "JSDoc variable",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "comment keyword",
                "comment entity.name.tag",
                "entity.name.tag.documentation"
            ],
            "settings": {
                "name": "PHPDoc keyword",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "comment keyword.codetag.notation",
            "settings": {
                "name": "Human intent markers (TODO/FIXME) - base0F reserved",
                "foreground": "{{base0F}}"
            }
        },
        {
            "scope": "comment.git-status.header.remote",
            "settings": {
                "name": "Git status remote",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "comment.git-status.header.local",
            "settings": {
                "name": "Git status local",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "comment.other.git-status.head",
            "settings": {
                "name": "Git status remote",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "string.quoted.docstring",
                "string.quoted.docstring punctuation.definition"
            ],
            "settings": {
                "name": "Docstring",
                "foreground": "{{base03}}"
            }
        },
        {
            "scope": "constant",
            "settings": {
                "name": "Constant",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.other",
            "settings": {
                "name": "Constant",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "constant.other.caps",
            "settings": {
                "name": "Constant",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.other.placeholder",
            "settings": {
                "name": "Placeholders",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": "constant.other.property",
            "settings": {
                "name": "Constant as property",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.other.citation.latex",
            "settings": {
                "name": "Constant in latex",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.other.color",
            "settings": {
                "name": "Constant as color (in css / sass)",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.other.character-class.escape",
            "settings": {
                "name": "Constant as character class escape (e.g. in regex)",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.other.key",
            "settings": {
                "name": "Constant as key (e.g. in puppet manifests)",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.other.symbol",
            "settings": {
                "name": "Constant as symbol (e.g. in ruby)",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": "constant.other.elm",
            "settings": {
                "name": "Constants in elm",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "constant.numeric",
            "settings": {
                "name": "Number",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.language",
            "settings": {
                "name": "Constant",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.character.escape",
            "settings": {
                "name": "Character escape",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "constant.numeric.line-number.find-in-files",
            "settings": {
                "name": "Search result line numbers",
                "foreground": "#6b6360"
            }
        },
        {
            "scope": "constant.numeric.line-number.match.find-in-files",
            "settings": {
                "name": "Search result matched line numbes",
                "foreground": "{{base12}}"
            }
        },
        {
            "scope": "entity.name.section",
            "settings": {
                "name": "Sections",
                "foreground": "{{base12}}"
            }
        },
        {
            "scope": [
                "entity.name.function",
                "entity.name.function.templated",
                "entity.name.function.member.static"
            ],
            "settings": {
                "name": "Functions",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": [
                "entity.name.type.class.templated",
                "entity.name.type.class.generic",
                "entity.name.type.namespace"
            ],
            "settings": {
                "name": "Class template",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.name.label",
            "settings": {
                "name": "label",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "entity.name.function.preprocessor",
            "settings": {
                "name": "Macros",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.name",
            "settings": {
                "name": "Entity name",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "entity.name.class",
            "settings": {
                "name": "Class name",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.name.constant",
            "settings": {
                "name": "Constant name",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "entity.name.namespace",
            "settings": {
                "name": "Namespace",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.other.inherited-class",
            "settings": {
                "name": "Inherited class",
                "fontStyle": "italic",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.name.function",
            "settings": {
                "name": "Function name",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": [
                "entity.name.tag",
                "entity.name.tag.js.jsx support.class.component.js.jsx",
                "entity.name.tag support.class.component",
                "source.vue support.class.component"
            ],
            "settings": {
                "name": "Tag name",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "source.ansible entity.name.tag",
            "settings": {
                "name": "Tag name (Ansible)",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.name.function.operator",
            "settings": {
                "name": "Operator",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": [
                "meta.brackets entity.name.function.operator",
                "punctuation.separator entity.name.function.operator"
            ],
            "settings": {
                "name": "Operator",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "entity.name.type",
                "entity.name.type.class.reference",
                "entity.name.type.class.value"
            ],
            "settings": {
                "name": "Entity name type",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.other.attribute-name",
            "settings": {
                "name": "Tag attribute",
                "fontStyle": "italic",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": [
                "entity.other.attribute-name.class.css",
                "entity.other.attribute-name.parent-selector-suffix.css",
                "entity.other.attribute-name.parent-selector-suffix.css punctuation.definition.entity.css",
                "entity.other.attribute-name.css",
                "entity.other.animation-name.css"
            ],
            "settings": {
                "name": "CSS class",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "entity.other.attribute-name.id.css",
            "settings": {
                "name": "CSS id",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": [
                "entity.other.attribute-name.pseudo-class.css",
                "entity.other.pseudo-class.css",
                "entity.other.pseudo-element.css"
            ],
            "settings": {
                "name": "CSS pseudo class",
                "fontStyle": "italic",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": [
                "entity.name.function",
                "support.function"
            ],
            "settings": {
                "name": "Function names / calls",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "entity.other.git-status.hex",
            "settings": {
                "name": "git status commit hex",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "entity.other.jinja2.delimiter",
            "settings": {
                "name": "jinja delimiters",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "entity.name.operator.custom-literal",
            "settings": {
                "name": "custom literal",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "entity.name.operator.custom-literal.string",
            "settings": {
                "name": "custom literal string",
                "foreground": "{{base12}}"
            }
        },
        {
            "scope": "entity.name.operator.custom-literal.number",
            "settings": {
                "name": "custom literal number",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "entity.name.type.rust",
            "settings": {
                "name": "rust specific",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "entity.name.lifetime.rust",
            "settings": {
                "name": "rust specific",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "invalid",
            "settings": {
                "name": "Invalid",
                "foreground": "{{base10}}",
                "fontStyle": "italic underline"
            }
        },
        {
            "scope": "invalid.deprecated",
            "settings": {
                "name": "Invalid deprecated",
                "foreground": "{{base11}}",
                "fontStyle": "italic underline"
            }
        },
        {
            "scope": "keyword",
            "settings": {
                "name": "Keyword",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "keyword.control",
            "settings": {
                "name": "Control keywords examples include if, try, end and while. Some syntaxes prefer to mark if and else with the conditional variant. The import variant is often used in appropriate situations.",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "keyword.control.directive",
            "settings": {
                "name": "keyword control directive",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": [
                "keyword.operator",
                "keyword.operator.member"
            ],
            "settings": {
                "name": "Operator",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "keyword.operator.new",
            "settings": {
                "name": "New operator (semantically significant)",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "keyword.other.substitution",
            "settings": {
                "name": "Substitution string",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "keyword.other.template.begin",
                "keyword.other.template.end"
            ],
            "settings": {
                "name": "Template literal begin / end",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": [
                "keyword.operator.heading.restructuredtext",
                "keyword.operator.table.row.restructuredtext keyword.operator.table.data.restructuredtext"
            ],
            "settings": {
                "name": "RestructuredText heading, table markup",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "keyword.other.parenthesis.elm",
            "settings": {
                "name": "elm parenthesis",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "keyword.other.fn.rust",
                "keyword.other.rust",
                "keyword.other.unsafe.rust",
                "keyword.other.where.rust"
            ],
            "settings": {
                "name": "rust specific",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "keyword.control.rust",
            "settings": {
                "name": "rust control flow",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "keyword.operator.misc.rust",
            "settings": {
                "name": "rust operators (neutral)",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "keyword.declaration.class.ruby",
                "keyword.declaration.function.ruby",
                "keyword.declaration.namespace.ruby"
            ],
            "settings": {
                "name": "ruby specific",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "markup.italic",
            "settings": {
                "name": "Italic",
                "fontStyle": "italic"
            }
        },
        {
            "scope": "markup.bold",
            "settings": {
                "name": "Bold",
                "fontStyle": "bold"
            }
        },
        {
            "scope": "markup.heading",
            "settings": {
                "name": "Heading",
                "foreground": "{{base12}}"
            }
        },
        {
            "scope": "markup.raw",
            "settings": {
                "name": "Raw",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": "markup.underline",
            "settings": {
                "name": "Underline",
                "fontStyle": "underline"
            }
        },
        {
            "scope": "markup.underline.link",
            "settings": {
                "name": "Link",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": [
                "markup.inserted",
                "markup.inserted punctuation.definition.inserted"
            ],
            "settings": {
                "name": "Diff inserted",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": [
                "markup.deleted",
                "markup.deleted punctuation.definition.deleted"
            ],
            "settings": {
                "name": "Diff deleted",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": [
                "markup.changed",
                "markup.changed punctuation.definition.changed"
            ],
            "settings": {
                "name": "Diff changed",
                "foreground": "{{base12}}"
            }
        },
        {
            "scope": [
                "markup.ignored",
                "markup.ignored punctuation.definition.ignored"
            ],
            "settings": {
                "name": "Diff ignored",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "markup.untracked",
            "settings": {
                "name": "Diff untracked",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "markup.quote",
            "settings": {
                "name": "Markup quote",
                "fontStyle": "italic"
            }
        },
        {
            "scope": [
                "meta.brace.round",
                "meta.brace.square",
                "meta.brace.curly",
                "meta.delimiter.comma.js",
                "meta.function-call.without-arguments.js",
                "meta.function-call.method.without-arguments.js"
            ],
            "settings": {
                "name": "Braces, delimiters",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "meta.function-call.generic.python",
                "support.function.builtin.python"
            ],
            "settings": {
                "name": "Function call (vs)",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "meta.function-call.python meta.function-call.arguments.python",
            "settings": {
                "name": "Function arguments (vs)",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "meta.interpolation",
            "settings": {
                "name": "interpolation strings",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": "meta.instance.constructor",
            "settings": {
                "name": "Constructor (new MyClass())",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": [
                "meta.attribute-with-value.class string",
                "meta.attribute.class.html string"
            ],
            "settings": {
                "name": "Class string name (i.e. in html attributes)",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": [
                "meta.attribute-with-value.id string",
                "meta.attribute.id.html string"
            ],
            "settings": {
                "name": "ID string name (i.e. in html attributes)",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": "source.json meta.mapping.key string",
            "settings": {
                "name": "JSON keys",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "source.yaml meta.mapping.key string",
            "settings": {
                "name": "YAML keys",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "meta.object.member",
            "settings": {
                "name": "Object members",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "meta.property-list.css variable.other",
            "settings": {
                "name": "SCSS Variable",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": [
                "entity.name.constant.preprocessor",
                "meta.preprocessor"
            ],
            "settings": {
                "name": "Preprocessor",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "meta.diff.git-diff.header",
            "settings": {
                "name": "git diff header",
                "foreground": "{{base12}}"
            }
        },
        {
            "scope": "meta.type_params.rust",
            "settings": {
                "name": "rust specific (brackets and certain type names)",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "meta.attribute.rust",
                "meta.annotation.rust",
                "variable.language.rust",
                "variable.annotation.rust",
                "meta.annotation.rust string",
                "meta.annotation.rust keyword",
                "meta.annotation.rust keyword.operator",
                "meta.attribute.rust string"
            ],
            "settings": {
                "name": "rust specific (variable.language.rust is 'self' keyword.",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "meta.type variable",
                "meta.type variable.other.readwrite",
                "variable.annotation",
                "meta.decorator variable.other.readwrite"
            ],
            "settings": {
                "name": "type annotation",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "punctuation",
            "settings": {
                "name": "Punctuation",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "punctuation.definition.tag",
                "punctuation.definition.tag source",
                "punctuation.definition.group.begin.ruby",
                "punctuation.definition.group.end.ruby",
                "punctuation.definition.group.begin.css",
                "punctuation.definition.group.end.css",
                "punctuation.definition.string.end.html source.css",
                "punctuation.definition.block",
                "punctuation.definition.parameters.begin",
                "punctuation.definition.parameters.end",
                "punctuation.separator.parameter",
                "punctuation.accessor",
                "punctuation.terminator"
            ],
            "settings": {
                "name": "Punctuation tags",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "punctuation.definition.group",
            "settings": {
                "name": "Group (i.e. in regex)",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "punctuation.definition.comment",
            "settings": {
                "name": "Comment start / end",
                "foreground": "{{base03}}"
            }
        },
        {
            "scope": [
                "punctuation.definition.variable",
                "punctuation.definition.keyword.scss",
                "punctuation.definition.entity.css"
            ],
            "settings": {
                "name": "Variable indicator (i.e. in php or in include directives in sass)",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "punctuation.section.embedded",
                "punctuation.section.embedded entity.name.tag",
                "punctuation.section.embedded constant.other",
                "punctuation.section.embedded source",
                "punctuation.section.embedded.begin"
            ],
            "settings": {
                "name": "Punctuation section embedded (i.e. ?php blocks in html)",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": [
                "punctuation.template-string.element.begin",
                "punctuation.template-string.element.end",
                "punctuation.definition.string.template.begin",
                "punctuation.definition.string.template.end",
                "string.quoted.template punctuation.definition.string.begin",
                "string.quoted.template punctuation.definition.string.end",
                "punctuation.definition.template-expression.begin",
                "punctuation.definition.template-expression.end"
            ],
            "settings": {
                "name": "Punctuation template string (`example`)",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": [
                "meta.paragraph.markdown meta.dummy.line-break",
                "meta.paragraph.markdown meta.hard-line-break.markdown"
            ],
            "settings": {
                "name": "Punctuation hard line break in Markdown",
                "background": "{{base16}}"
            }
        },
        {
            "scope": "markup.underline.link punctuation",
            "settings": {
                "name": "Punctuation in markdown links",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": [
                "meta.brace.round",
                "meta.brace.square",
                "keyword.operator.type.annotation",
                "meta.type storage.modifier.array"
            ],
            "settings": {
                "name": "Meta braces",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "region.redish",
            "settings": {
                "name": "region red color",
                "foreground": "{{base10}}",
                "background": "{{base08}}59"
            }
        },
        {
            "scope": "region.orangish",
            "settings": {
                "name": "region orange color",
                "foreground": "{{base11}}",
                "background": "{{base09}}59"
            }
        },
        {
            "scope": "region.yellowish",
            "settings": {
                "name": "region yellow color",
                "foreground": "{{base12}}",
                "background": "{{base0A}}59"
            }
        },
        {
            "scope": "region.greenish",
            "settings": {
                "name": "region green color",
                "foreground": "{{base13}}",
                "background": "{{base0B}}59"
            }
        },
        {
            "scope": "region.bluish",
            "settings": {
                "name": "region blue color",
                "foreground": "{{base14}}",
                "background": "{{base0C}}59"
            }
        },
        {
            "scope": "region.purplish",
            "settings": {
                "name": "region purple color",
                "foreground": "{{base16}}",
                "background": "{{base0E}}59"
            }
        },
        {
            "scope": "region.pinkish",
            "settings": {
                "name": "region pink color",
                "foreground": "{{base10}}",
                "background": "{{base08}}59"
            }
        },
        {
            "scope": "region.whitish",
            "settings": {
                "name": "White for ST3 for non-colorized scheme",
                "foreground": "#FFFFFF"
            }
        },
        {
            "scope": "source",
            "settings": {
                "name": "source",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "source.scss",
                "source.sass"
            ],
            "settings": {
                "name": "SASS, SCSS default",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "source.sass variable.other",
                "source.sass variable.sass",
                "source.scss variable.other",
                "source.scss variable.scss",
                "source.scss variable.sass",
                "source.css variable.other",
                "source.css variable.scss",
                "source.less variable.other",
                "source.less variable.other.less",
                "source.less variable.declaration.less"
            ],
            "settings": {
                "name": "SASS, SCSS and LESS variables",
                "fontStyle": "italic",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": "source.git-show.commit.sha",
            "settings": {
                "name": "git",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": [
                "source.git-show.author",
                "source.git-show.date",
                "source.git-diff.command",
                "source.git-diff.command meta.diff.git-diff.header.from-file",
                "source.git-diff.command meta.diff.git-diff.header.to-file"
            ],
            "settings": {
                "name": "git",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "source.git-show meta.diff.git-diff.header.extended.index.from-sha",
                "source.git-show meta.diff.git-diff.header.extended.index.to-sha"
            ],
            "settings": {
                "name": "git diff header hash",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "source.git-show meta.diff.range.unified",
            "settings": {
                "name": "git diff header range",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": [
                "source.git-show meta.diff.header.from-file",
                "source.git-show meta.diff.header.to-file"
            ],
            "settings": {
                "name": "git diff header files",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "storage",
            "settings": {
                "name": "Storage",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "storage.type",
            "settings": {
                "name": "Types and definition / declaration keywords should use the following scope. Examples include int, bool, char, func, function, class and def. Depending on the language and semantics, const may be this or storage.modifier.",
                "fontStyle": "italic",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "storage.type.extends",
            "settings": {
                "name": "Extends",
                "fontStyle": "normal",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "storage.type.function.arrow",
            "settings": {
                "name": "Fat arrow function",
                "fontStyle": "normal",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": [
                "storage.modifier",
                "storage.type.modifier"
            ],
            "settings": {
                "name": "Storage modifiers (static, const, public, private) - same family as declarations",
                "fontStyle": "italic",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "storage.class.restructuredtext.ref",
            "settings": {
                "name": "refs (Restructured text)",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": [
                "storage.modifier.visibility.rust",
                "storage.modifier.lifetime.rust"
            ],
            "settings": {
                "name": "rust visibility/lifetime (declaration family)",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": [
                "storage.modifier.const.rust",
                "storage.modifier.dyn.rust",
                "storage.modifier.mut.rust",
                "storage.modifier.static.rust",
                "storage.type.rust",
                "storage.type.core.rust",
                "storage.class.std.rust"
            ],
            "settings": {
                "name": "rust types and modifiers (declaration family)",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": [
                "keyword.other.rust",
                "keyword.other.where.rust"
            ],
            "settings": {
                "name": "rust keywords (control family)",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "storage.modifier.import.java",
            "settings": {
                "name": "imported Java libraries",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "string",
            "settings": {
                "name": "String",
                "foreground": "{{base12}}"
            }
        },
        {
            "scope": "string.unquoted.label",
            "settings": {
                "name": "String label",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "string source",
            "settings": {
                "name": "Source in template string",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "string source punctuation.section.embedded",
                "string punctuation.definition.string source"
            ],
            "settings": {
                "name": "Embedded punctuation begin / end in template string",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "string.other.link.title",
                "string.other.link.description"
            ],
            "settings": {
                "name": "link title",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "string.other.link.description.title",
            "settings": {
                "name": "link description",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": [
                "string.regexp punctuation.definition.string.begin",
                "string.regexp punctuation.definition.string.end"
            ],
            "settings": {
                "name": "String regexp begin / end",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": [
                "string.other.ref",
                "string.other.restructuredtext.ref"
            ],
            "settings": {
                "name": "refs (Restructured text)",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "string.other.git-status.help.key",
            "settings": {
                "name": "git key in git status help text",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "string.other.git-status.remote",
            "settings": {
                "name": "git status remote",
                "foreground": "{{base10}}"
            }
        },
        {
            "scope": "support.constant",
            "settings": {
                "name": "Library constant",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "support.constant.handlebars",
            "settings": {
                "name": "Handlebars start / end",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": "support.type.vendor-prefix.css",
            "settings": {
                "name": "vendor prefix",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "support.function",
            "settings": {
                "name": "function name",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "support.macro",
            "settings": {
                "name": "support macro",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "support.function.delimiter.elm",
            "settings": {
                "name": "function brackets, comma's",
                "foreground": "{{base04}}"
            }
        },
        {
            "scope": [
                "support.type",
                "entity.name.type.object.console"
            ],
            "settings": {
                "name": "Library type",
                "fontStyle": "italic",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": [
                "support.variable",
                "support.variable.property"
            ],
            "settings": {
                "name": "Support variables",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "support.type.property-name",
            "settings": {
                "name": "Library type property, JSON keys",
                "fontStyle": "normal",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "support.class",
            "settings": {
                "name": "Library class",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "support.constant.core.rust",
            "settings": {
                "name": "rust specific",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": [
                "comment support",
                "comment support.class"
            ],
            "settings": {
                "name": "comment support",
                "foreground": "{{base03}}"
            }
        },
        {
            "scope": "text",
            "settings": {
                "name": "text",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "text.find-in-files",
            "settings": {
                "name": "Search result",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "variable",
                "variable.other"
            ],
            "settings": {
                "name": "Variable",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": [
                "variable.parameter",
                "parameters variable.function"
            ],
            "settings": {
                "name": "Function arguments",
                "fontStyle": "italic",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": [
                "variable.language",
                "variable.parameter.function.language.special.self.python",
                "variable.parameter.function.language.special.cls.python"
            ],
            "settings": {
                "name": "Reserved variable names that are specified by the language, such as this, self, super, arguments. Also in function arguments (e.g. like in Python)",
                "fontStyle": "italic",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "variable.language.arguments",
            "settings": {
                "name": "Reserved variable names: 'arguments'",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "variable.other.class",
            "settings": {
                "name": "Library function",
                "foreground": "{{base14}}"
            }
        },
        {
            "scope": "variable.other.constant",
            "settings": {
                "name": "Immutable variables, often via a const modifier, should receive the following scope. Depending on the language and semantics, entity.name.constant may be a better choice.",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "variable.other.readwrite",
            "settings": {
                "name": "read/write variables",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "variable.other.member",
            "settings": {
                "name": "Fields, properties, members and attributes of a class or other data structure should use:",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "variable.other.enummember",
            "settings": {
                "name": "Enum member",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": [
                "variable.other.property",
                "variable.other.property.static",
                "variable.other.event"
            ],
            "settings": {
                "name": "Variable property",
                "foreground": "{{base07}}"
            }
        },
        {
            "scope": "variable.function",
            "settings": {
                "name": "Function and method names should be scoped using the following, but only when they are being invoked. When defined, they should use entity.name.function.",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "variable.other.substitution",
            "settings": {
                "name": "Substitution (restructured text)",
                "foreground": "{{base11}}"
            }
        },
        {
            "scope": [
                "source.ruby variable.other.readwrite.instance.ruby",
                "source.ruby variable.other.readwrite.class.ruby"
            ],
            "settings": {
                "name": "Ruby instance variables",
                "foreground": "{{base16}}"
            }
        },
        {
            "scope": "source.jinja2 variable.other.jinja2.block",
            "settings": {
                "name": "jinja2 variable block",
                "foreground": "{{base13}}"
            }
        },
        {
            "scope": "source.jinja2 variable.other.jinja2",
            "settings": {
                "name": "jinja2 variable",
                "foreground": "{{base11}}"
            }
        }
    ]
}